### Datatypes and conversions
1. int
2. float 
3. string

In [5]:
n1=13
print("n1=",n1)
type(n1)

n1= 13

int

In [6]:
n2=23.27
print("n2=",n2)
type(n2)

n2= 23.27

float

In [7]:
s="apssdc"
print(s)
type(s)

apssdc

str

In [10]:
m=12
n=13.3
print(type(m))
print(type(n))

<class 'int'>
<class 'float'>

In [12]:
n=27
print(type(n))
print(type(str(n)))

<class 'int'>
<class 'str'>

In [17]:
n1=23
s=str(n1)
print(type(s))

<class 'str'>

In [21]:
num1=23
num2=27.0
print(num1+num2)
print(type(num1+num2))

50.0
<class 'float'>

### Indentation

In [38]:
n1,n2=27,23
if(n1>n2):
    print("n1 is greater than n2")
else:
    print("wrong statement")

n1 is greater than n2

### Reading input dynamically

In [47]:
x=input()
print(x)
print(type(x))

2327
2327
<class 'str'>

In [45]:
a=2327
print(type(a))
f=float(a)
print(type(f))
print(a)
print(f)

<class 'int'>
<class 'float'>
2327
2327.0

### operators
1. arthematic operators
2. assignment operators
3. comparision operators
4. logical operators
5. identity operators
6. membership operators
7. Bitwise operators

###1. Arthematic operators
- +,-,*,/,%,//,**

In [49]:
a,b=27,23
print("a+b=",27+23)
print("a-b",27-23)
print("a*b",27*23)
print("a/b",27/23)
print("a%b",27%23)
print("a//b",27//23)
print("a**b",27**23)

a+b= 50
a-b 4
a*b 621
a/b 1.173913043478261
a%b 4
a//b 1
a**b 834385168331080533771857328695283

### Assignment operators
- +=,-=,*=,etc

In [66]:
a=12
print(a)

12

In [67]:
a+=1 #a=a+1
print(a)

13

In [68]:
a-=2 #a=a-2
print(a)

11

In [69]:
a*=2 #a=a*2
print(a)

22

In [70]:
a/=2 #a=a/2
print(a)
print(type(a))

11.0
<class 'float'>

### 3. comparasion operators
- ==,<,>,>=,<=,!=

In [73]:
n1,n2=23,27
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)
print(n1>=n2)
print(n1<=n2)

False
True
True
False
False
True

### 5. logical operators
- and,or,not

In [76]:
a=5
print(a<6 and a>4)
print(a>6 or a<2)

True
False

In [77]:
res=a>6 or a<2
print(not(res))

True

### 6.identity operator
- is,is not

In [79]:
x,y=23,27
print(x is y)

False

In [80]:
print(x is not y)

True

### 6. Membership operators
- in, not in

In [83]:
fruits=["apple","gova","grapes"]
print("apple" in fruits)
print("banana" in fruits)
print("banana" not in fruits)

True
False
True

### 7. Bitwise operators
- &,|,^,>>,<<,~

In [1]:
a=int(input("enter 1st value"))
b=int(input("enter 2nd value"))
print("a&b=",a&b)
print("a|b=",a|b)
print("~a=",~a)
print("a^b=",a^b)
print("a<<1=",a<<1)
print("a>>1=",a>>1)

enter 1st value5
enter 2nd value3
a&b= 1
a|b= 7
~a= -6
a^b= 6
a<<1= 10
a>>1= 2